<!DOCTYPE html>
<html>
<head>
    <title>{{ chapter.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/webooks/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/static/webooks/css/details.css" type="text/css" />
    <link rel="stylesheet" href="/static/webooks/css/common.css" type="text/css" />
</head>
<body>
<div class="container clearfix">
    <h3>详细介绍</h3>
    <div class="details">
        {{ chapter.content }}
    </div>
    <div>
        {% if before_url %}<a href="{{ before_url }}">上一章</a>{% else %}{% endif %}
        <a href="{{ chapter_list_url }}">回到章节列表</a>
        {% if after_url %}<a href="{{ after_url }}">下一章</a>{% else %}{% endif %}
    </div>
</div>
</body>
</html>