<!DOCTYPE html>
<html>
<head>
    <title>章节列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/webooks/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/static/webooks/css/details.css" type="text/css" />
    <link rel="stylesheet" href="/static/webooks/css/common.css" type="text/css" />
</head>
<body>
<div class="container clearfix">
    <div class="info-container clearfix">
        <ul>
            {% for chapter in page.object_list %}
                <li><a href="{% url "book_chapter_detail" chapter.book.id chapter.id %}?user_id={{ user_id }}">{{ chapter.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% for num in page.page_range %}
            {% if num %} <a href="{{ base_url }}&page={{ num }}">{{ num }}</a>
            {% else %} ...
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>